@model TaskView.Model.ViewFilterList
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskView.styles.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1>Projects</h1>
</div>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Name: </label>
        <input name="name" class="form-control" />

        <label class="control-label">Copmany: </label>
        <select name="company" class="form-control">
            @foreach(var nameComany in Model.Companies)
            {
                <option>@nameComany.Text</option>
            }
        </select>

        <input type="submit" value="Filter" class="btn btn-secondary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name project</th>
            <th scope="col">Name company oredrs</th>
            <th scope="col">Name company exectuter</th>
            <th scope="col"><a asp-action="Index" asp-route-sortOrder="@ViewBag.sortOrder">Priority</a></th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskView.Model.Project project in Model.project)
        {
            <tr>
                <th scope="row">1</th>
                <td><a class="btn btn-primary" href="~/Project/ViewProject/@project.Id" role="button">@project.Name</a></td>
                <td>@project.NameCompanyOrder</td>
                <td>@project.NameExecuterCompany</td>
                <td>@project.priority</td>
                <td>
                    <a class="btn btn-danger" href="~/Project/DeleteProject/@project.Id" role="button">Delete</a>
                </td>
                <td><a class="btn btn-primary" href="~/Project/EditProject/@project.Id" role="button">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="~/Project/AddProject/" role="button">Add project</a>

<div class="text-center">
    <h1>Employers</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (TaskView.Model.Employer employer in ViewBag.employer)
        {
            @if (employer.Surname != null)
            {
                <tr>
                    <th scope="row">1</th>
                    <td><a class="btn btn-primary" href="~/Employer/ViewEmployer/@employer.Id" role="button">@employer.Name</a></td>
                    <td>@employer.Surname</td>
                    <td>@employer.Patronymic</td>
                    <td>
                        <a class="btn btn-danger" href="~/Employer/DeleteEmployer/@employer.Id" role="button">Delete</a>
                    </td>
                    <td><a class="btn btn-primary" href="~/Employer/EditEmployer/@employer.Id" role="button">Edit</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-primary" href="~/Employer/AddEmployer" role="button">Add employer</a>