@model TaskView.Model.Project
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="h3">Name</div>

            <div class="p-3 border bg-light">@Model.Name</div>
        </div>
        <div class="col-6">
            <div class="h3">Name company orders</div>
            <div class="p-3 border bg-light">@Model.NameCompanyOrder</div>
        </div>
        <div class="col-6">
            <div class="h3">Name company executer</div>
            <div class="p-3 border bg-light">@Model.NameExecuterCompany</div>
        </div>
        <div class="col-6">
            <div class="h3">Manager</div>
            <form method="post" class="form-control gy-5">
                <input type="hidden" value="@Model.Id" name="project" />
                <input type="hidden" value="false" name="isDelete" />
                <input type="hidden" value="true" name="isManager" />

                <select name="name" class="form-select">
                    @if (Model.Manager != null)
                    {
                        <option class="dropdown-item-text">@Model.Manager.Name @Model.Manager.Surname @Model.Manager.Patronymic</option>
                    }
                    else
                    {
                        <option>Select manager</option>
                    }
                    @foreach (TaskView.Model.Employer worker in Model.Employers)
                    {
                        if (Model.Manager == null)
                        {
                            <option class="dropdown-item">
                                @worker.Name @worker.Surname @worker.Patronymic
                            </option>
                        }
                        else
                        {
                            if (worker.Id != Model.Manager.Id)
                            {
                                <option class="dropdown-item">
                                    @worker.Name @worker.Surname @worker.Patronymic
                                </option>
                            }
                        }
                    }
                </select><input type="submit" class = "btn-success" value="Change manager" />
            </form>
        </div>

        <div class="col-6">
            <div class="h3">Date range project</div>
            <div class="p-3 border bg-light">@Model.StartProjectDate.ToString() - @Model.EndProjectDate.ToString()</div>
        </div>
        <div class="col-6">
            <div class="h3">Priority</div>
            <div class="p-3 border bg-light">@Model.priority</div>
        </div>
        <div class="col-6">
            <div class="h3">
                Employers
            </div>
            @foreach (var employer in Model.Employers)
            {
                <div class="p-3 border bg-light">
                    @employer.Name @employer.Surname @employer.Patronymic
                    <form method="post">
                        <input type="hidden" value="true" name="isDelete" />
                        <input type="hidden" name="name" value="@employer.Name @employer.Surname" />
                        <input type="hidden" name="project" value=@Model.Id />
                        <input class="btn-danger" type="submit" value="Delete" />
                    </form>
                </div>
            }
        </div>

    </div>
</div>
<div class="h3">Manager</div>

<form method="post">
    <input type="hidden" value="@Model.Id" name="project" />
    <input type="hidden" value="false" name="isDelete" />
    <p>
        <select name="name">
            @foreach (TaskView.Model.Employer worker in ViewBag.employers)
            {
                <option>
                    @worker.Name @worker.Surname
                </option>
            }
        </select><input type="submit" value="Add this employer" />
    </p>
    <p></p>
</form>
